# Database variables
DATABASE_HOST=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

#add rollbar access token
ROLLBAR_ACCESS_TOKEN=

#add developer emails for interceptor
DEV_TEAM_EMAILS=
EVENTIBLE_TEAM_EMAILS=

#Email configuration variables
MAIL_ADDRESS=
MAIL_USERNAME=
MAIL_PASSWORD=
FRONTEND_URL=

#linkedin credentials variables
LINKEDIN_REDIRECT_URL= ""
LINKEDIN_CLIENT_ID= ""
LINKEDIN_CLIENT_SECRET= ""

#campaign review route
REVIEW_ROUTE="review"

#s3 credentials
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
REGION=
BUCKET=
