<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div>
      <p>Dear <%= @user.name %>,</p>

      <p>
        Thank you for submitting your Russian eVisa application! 
      </p>

      <p>
        We have
        received all the necessary details and your payment has been
        successfully processed. Our team is now reviewing your application, and
        we will keep you informed about its progress. You can always log in to
        your account to check the status of your application.
      </p>

      <h4>What’s Next?</h3>
      <p>
        We’ll notify you via email once your visa is ready or if we require any additional information.
      </p>

      <p>
        If you have any questions or need assistance, don’t hesitate to contact us.
        Safe travels,
      </p>

      <p>
        Best regards, <br />
        Russian Evisa Team
      </p>
    </div>
  </body>
</html>
