<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div>
      <p>Dear <%= @user.name %>,</p>

      <p>
        We are pleased to inform you that your Russian eVisa application has
        been <b>approved!</b> <br />
        You are now officially cleared to travel to Russia.
      </p>

      <p>
        Please find your eVisa document attached to this email. Be sure to
        <b>print a copy</b> and present it at the immigration counter when you
        arrive in Russia.
      </p>

      <h4>What’s Next?</h4>

      <p>
        Please review the eVisa document carefully to ensure all information is
        correct. If you have any questions, feel free to reach out to us.
      </p>

      <p>We wish you a smooth and enjoyable trip to Russia!</p>

      <p>
        Best regards, <br />
        Russian Evisa Team
      </p>
    </div>
  </body>
</html>
