<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div>
      <p>Dear <%= @user.name %>,</p>

      <p>
        It looks like your Russian eVisa application hasn’t been completed yet.
        We wanted to give you a final opportunity to reactivate and submit your
        application.
      </p>

      <p>
        <%= link_to "Click here to reactivate your application",
        "#{ENV.fetch("FRONTEND_URL")}/application" %>
      </p>

      <p>
        Our team is ready to assist you with any questions or steps you need to
        finish. Act now to avoid starting the process from scratch.
      </p>

      <p>
        Best regards, <br />
        Russian Evisa Team
      </p>
    </div>
  </body>
</html>
