<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div>
      <p>Dear <%= @user.name %>,</p>

      <p>
        We noticed that you started your Russian eVisa application but haven’t
        submitted it yet. Let’s get you one step closer to your journey!
      </p>

      <p>
        To avoid any delays in processing, please complete your application as
        soon as possible. It only takes a few minutes to finish!
      </p>

      <p>
        <%= link_to "Click here to resume your application",
        "#{ENV.fetch("FRONTEND_URL")}/application" %>
      </p>

      <p>
        If you need any assistance, feel free to reach out to us. We’re here to
        help!
      </p>

      <p>
        Safe travels, <br />
        Russian Evisa Team
      </p>
    </div>
  </body>
</html>
