<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div>
      <p>Dear <%= @user.name %>,</p>

      <p>
        This is a friendly reminder that your Russian eVisa application is still
        incomplete. It’s important to finish it soon to avoid any issues with
        your travel plans.
      </p>

      <p>
        <%= link_to "Click here to complete your application",
        "#{ENV.fetch("FRONTEND_URL")}/application" %>
      </p>

      <p>
        If we don’t hear from you soon, your application may be marked as
        inactive. Don’t let your chance to visit Russia slip away!
      </p>

      <p>
        We’re here if you need help, <br />
        Russian Evisa Team
      </p>
    </div>
  </body>
</html>
