<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div>
      <p>Dear <%= @user.name %>,</p>

      <p>
        Just a quick reminder: your Russian eVisa application is almost done!
        Completing it today will ensure your visa is processed on time.
      </p>

      <p>
        <%= link_to "Click here to complete your application",
        "#{ENV.fetch("FRONTEND_URL")}/application" %>
      </p>

      <p>
        Our team is available to answer any questions or guide you through the
        final steps. Don’t let your travel plans be delayed—finish your
        application now.
      </p>

      <p>
        We’re here to help, <br />
        Russian Evisa Team
      </p>
    </div>
  </body>
</html>
