<p>Dear <%= @library_user.first_name.capitalize %>,</p>

<p>Thank you for requesting for <strong>'<%= @library_user.event_title %>'</strong>.</p>

<% if @library_user.event_type == "whitepaper" %>
    <p>You can download it immediately by clicking <a href=<%= @library_user.pdf_link %>>HERE</a>!</p>
<% else %>
    <%# this template is for both "webinar" & "webinar-registration" %>
    <p>Your webinar details will be sent to you shortly.</p>
<% end %>

<p>Sincerely,<br>
Team Eventible</p>
