<b>Hi <%= @user.name %></b>, <br />
<p>
  I would love to discuss a media partnership for your upcoming event, 
  <b>
    <%= link_to "#{@event.title}",
    "#{ENV.fetch("FRONTEND_URL")}/#{@event.category}/#{@event.slug}/?trigger=promotion-trigger&triggerid=#{@tracker_id}" %>.
  </b>
</p>
<p>
  Eventible is a platform & community of event goers that helps facilitate 80,000 event attendance selections monthly.
</p>
<p>
  As a media partner we can offer tremendous visibility for your event. Would you be the right person to chat with?
</p>

<table style="border-collapse: collapse; margin: 0">
	<tr>
		<td>
		  <img src="https://i.imgur.com/HsBQXQ8.jpg" 
		  width="93"
		  alt="Jennifer Rickman" 
		  style="border-radius: 10rem; 
		    padding: 2px;
		    border: 1px solid #111;"/>
		</td>
	</tr>
	<tr>
		<td>
		  Best regards, <br />
		  Jen Rickman <br />
		  Director – Customer Success<br />
		  Eventible.com
      <img src="<%=@tracking_link%>" width="1" height="1" />
		</td>
	</tr>
</table>
