<p>Hi <%= @owner.first_name %>,</p>
<p>Your addition of new event - <b><%= @event.title %></b> has been approved.
This event will now show up in your events list and you will be able to make edits as per our policy in addition to receiving alerts for fresh reviews as they come in.
We encourage you to use the “self-service reviews” section in your “MY.Eventible” portal to learn how you can run your own review campaigns or have us run them for you.
As always, please contact us at: support@eventible.com for any assistance!</p>
<p>Best,<br>
Partner Success Team<br>
Eventible</p>
