Hi <%= @record.first_name %>,

<p>I am delighted to accept your request to access our Eventible portal for event organizers!</p> 
<p>Through your Eventible portal, which is also called “MY.Eventible” you can manage your presence on the Eventible platform – from claiming events, adding new events, flagging reviews for investigation, submitting content for publication on our blog, coordinating interviews with your speakers and our editorial staff, and working with us on your next event registration campaign.</p>

<p>You can also use our best practice templates to run your own review campaigns, and use our ratings badges on your landing pages and websites – to get started please feel free to book a personalized walk-through with our team by choosing a time here: <a href="https://calendly.com/ankush_gupta">Calender Link</a>

<p>Our goal in creating Eventible was to create a transparent eco-system of event reviews, ratings and content to simply make it easier for folks to discover and decide on their event choices.<br>
We are grateful for your support and look forward to working with you in making this vision a reality – and at the same time – helping your portfolio of events get discovered by relevant audiences from across the world!
</p>

<p>Best,<br>
Ankush Gupta<br>
Founder, Eventible</p>
