<div>
  <p>
    Dear Applicant,
  </p>

  <p>
    Your One Time Password to verify email address is below. This OTP is valid only for 10 minutes
  </p>

  <b><%= @otp %></b>

  <p>
    Best,<br>
    Russian Evisa Team<br>
  </p>

  <p>
    Disclaimer

    <small>
      This email contains confidential information which shall not be shared with anyone. If you are not the intended recipient, please intimate our support team immediately at support@russianevisa.com
    </small>
  </p>
</div>