<p>Hi <%= @user.first_name %>,

<p>Thank you for providing a review for the event <b><%= @event_name %></b> which was recently attended by you. 

Your review will be a valuable addition to the Eventible platform & will help our community in discovering and choosing the best events to attend.

If you have chosen to create an Eventible account – look out for a separate email with your account details!
</p>
<% if @is_reward_for_review %>
  <b>You will receive an email alert once our quality team has checked your review and published it to the Eventible platform. For all published reviews, incentives & Amazon Gift Cards will be sent across within 21 working days from the date of approval.</b>
<% end %>
<p>For further clarity on our processes we encourage you to visit the following section: <%= link_to "Legal Section", "#{ENV.fetch("FRONTEND_URL")}/legal/general-user-terms" %></p>

<p>Best,<br>
Reviews & Quality Team<br>
Eventible</p>
