<p>Hello <%= @resource.name.split(' ')[0] %>!</p>

<p>You may reset your password by clicking this link: <%= link_to 'Change my password', "#{ENV.fetch("FRONTEND_URL")}/reset-password?reset_password_token=#{@token}" %></p>
<p>We encourage you to reset your password periodically for your online safety!</p>
<p>If you didn't request this, please ignore this email
Your password won't change until you access the link above and create a new one.</p>
<p>Best,<br>
Support Team<br>
Eventible</p>